@font-face {
  font-family: 'hello honey';
  src: url("../fonts/hellohoney.woff2") format("woff2"), url("../fonts/hellohoney.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  height: 1500px;
  background: #FFFFFF;
}

body .navbar {
  height: 90px;
  background: #FFFFFF;
  font-family: 'Comfortaa', cursive;
}

body .navbar .container-fluid img {
  height: 55px;
  padding-left: 25px;
}

body .navbar .container-fluid ul {
  padding-right: 25px;
}

body .navbar .container-fluid ul li {
  padding-left: 60px;
}

body .navbar .container-fluid ul li .dot {
  padding-left: 0px;
  width: 12px;
  height: 12px;
  background-color: #D79DD7;
}

body .navbar .container-fluid ul li a {
  font-size: 18px;
  color: #636569;
}

body .navbar .container-fluid ul li a:hover {
  color: #D79DD7;
}

body .carousel .carousel-inner .carousel-item {
  font-family: 'Comfortaa', cursive;
}

body .carousel .carousel-inner .carousel-item img {
  width: 100%;
  height: 550px;
}

body .carousel .carousel-inner .carousel-item .carousel-caption {
  position: absolute;
  z-index: 1;
  display: table;
  width: 75%;
  height: 100%;
}

body .carousel .carousel-inner .carousel-item .absolute-div {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  bottom: 0;
}

body .carousel .carousel-inner .carousel-item .row {
  height: 550px;
  margin-right: 0px;
  text-align: left;
}

body .carousel .carousel-inner .carousel-item .row h2 {
  font-weight: 500;
  font-size: 41px;
  color: white;
}

body .carousel .carousel-inner .carousel-item .row .btn-primary {
  -webkit-box-shadow: -2px 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: -2px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  background: #8A1E41;
  border: none;
  color: #F3EFF5;
  font-size: 30px;
  font-weight: 700;
}

body .carousel .carousel-inner .carousel-item .row .btn-primary:hover {
  background: #cc3362;
  color: #F3EFF5;
}

body .wwd h3 {
  font-family: 'hello honey', sans-serif;
  font-size: 100px;
  color: #8331A7;
  text-align: center;
}

body .wwd .row {
  margin-right: 0px;
  margin-left: 0px;
}

body .wwd .row .col-3 {
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
}

body .wwd .row .col-3 img {
  height: 180px;
  border-radius: 50%;
}

body .wwd .row .col-3 h5 {
  font-family: 'hello honey', sans-serif;
  font-size: 60px;
  color: #8A1E41;
}

body .wwd .row .col-3 ul {
  text-align: left;
  list-style: none;
  padding-left: 55px;
}

body .wwd .row .col-3 li {
  font-family: 'Comfortaa', cursive;
  font-size: 18px;
  color: #636569;
  padding-top: 10px;
}

body .wwd .row .col-3 ul li::before {
  content: "\2022";
  color: #D79DD7;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

body .wwd .row .col-3 .pmulti {
  padding-left: 90px;
}

body .wmud h3 {
  font-family: 'hello honey', sans-serif;
  font-size: 100px;
  color: #8331A7;
  text-align: center;
  padding-top: 20px;
}

body .wmud .row {
  margin-right: 0px;
  margin-left: 0px;
}

body .wmud .row .col-6 img {
  width: 600px;
  height: 350px;
  border-radius: 57px;
}

body .wmud .row .col-6 p {
  font-family: 'Comfortaa', cursive;
  font-weight: 800;
  font-size: 22px;
  color: #636569;
  padding-top: 10px;
}

body .hwa h3 {
  font-family: 'hello honey', sans-serif;
  font-size: 100px;
  color: #8331A7;
  text-align: center;
}

body .hwa .row {
  margin-right: 0px;
  margin-left: 0px;
}

body .hwa .row .col-3 {
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
}

body .hwa .row .col-3 img {
  height: 265px;
  border-radius: 50%;
}

body .hwa .row .col-3 h5 {
  font-family: 'comfortaa', Bold;
  font-weight: 700;
  font-size: 25px;
  color: black;
}

body .hwa .row .col-3 p {
  font-family: 'Comfortaa', cursive;
  font-weight: 400;
  font-size: 18px;
  color: black;
  padding-top: 10px;
}
/*# sourceMappingURL=style.css.map */