$background: #FFFFFF;
$primary: #8331A7;
$secondary: #D79DD7;
$text: #636569;
$h5text: #8A1E41;
$missing-image: #E5E5E5;
$background-white: #F3EFF5;

@font-face {
    font-family: 'hello honey';
    src: url('../fonts/hellohoney.woff2') format('woff2'),
        url('../fonts/hellohoney.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


body{
    height: 1500px;
    background: $background;

    .navbar{
        height: 90px;
        background: $background;
        font-family: 'Comfortaa', cursive;
        .container-fluid{
            span{
                padding-left: 140px;
            }
            ul{
                padding-right: 140px;
                li{
                    padding-left: 73px;
                    .dot{
                        padding-left: 0px;
                        width: 12px;
                        height: 12px;
                        background-color: $secondary;
                    }
                    a{
                        font-size: 22px;
                        color: $text;
                        &:hover{
                            color: $secondary;
                        }
                    }
                }
            }
        }
    }

    .carousel{
        .carousel-inner{
            .carousel-item{
                font-family: 'Comfortaa', cursive;
                img{
                    width: 100%;
                    height: 550px;
                }
                .carousel-caption{
                    position: absolute;
                    z-index: 1;
                    display:table;
                    width:75%;
                    height:100%;
                }
                
                .absolute-div{
                    position: absolute;
                      top: 0;
                      left: 0;
                      right: 0;
                      bottom: 0;
                }
                .row{
                    height: 550px;
                    margin-right: 0px;
                    h2{
                        font-weight: 500;
                        font-size: 50px;
                        color: $text;
                    }
                    .btn-primary{
                        box-shadow: -2px 5px 10px rgba(0, 0, 0, 0.2);
                        border-radius: 50px;
                        background: $secondary;
                        border: none;
                        color: $background-white;
                        &:hover{
                            background: $secondary;
                            color: $background-white;
                        }
                    }
                }
            }
        }
    }

    .wwd{
        h3{
            font-family: 'hello honey', sans-serif;
            font-size: 110px;
            color: $primary;
            text-align: center;
        }
        .row{
            margin-right: 0px;
            margin-left: 0px;
            .col-3{
                padding-left: 0px;
                padding-right: 0px;
                text-align: center;
                img{
                    height: 180px;
                    border-radius: 50%;
                }
                h5{
                    font-family: 'hello honey', sans-serif;
                    font-size: 70px;
                    color: $h5text;
                }
                ul {
                    text-align: left;
                    list-style: none;
                    padding-left: 55px;
                  }
                li{
                    font-family: 'Comfortaa', cursive;
                    font-size: 18px;
                    color: $text;
                    padding-top: 10px;
                }
                  ul li::before {
                    content: "\2022";
                    color: $secondary;
                    font-weight: bold;
                    display: inline-block;
                    width: 1em;
                    margin-left: -1em;
                  }
            }
        }
    }

    .wmud{
        h4{
            font-family: 'hello honey', sans-serif;
            font-size: 110px;
            color: $primary;
            text-align: center;
            padding-top: 20px;
        }
        .row{
            margin-right: 0px;
            margin-left: 0px;
            .col-6{
                img{
                    width: 600px;
                    height: 350px;
                    border-radius: 57px;
                }
                p{
                    font-family: 'Comfortaa', cursive;
                    font-weight: 800;
                    font-size: 18px;
                    color: $text;
                    padding-top: 10px;
                }
            }
        }
    }
}
